* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;

  --htag-color: rgb(1, 1, 63);
  --card-color: #fc3033;
  --text-color: #f1e7e7;
}

.container {
  padding: 15px 9%;
  padding-bottom: 100px;
}

.container .heading {
  text-align: center;
  padding-bottom: 15px;
  color: vat(--htag-color);
  font-size: 34px;
}
/* includes all cards */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 15px;
}
/* includes information with in cards*/
.information {
  padding: 10px;
  padding-bottom: 30px;
  justify-content: center;
}
.card {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: var(--card-color);
  border-radius: 15px;
  text-align: center;
  height: 100%;
}

.card img {
  height: 180px;
  width: 100%;
  display: block;
  border-radius: 15px 15px 0 0;
}

.card h3 {
  color: var(--text-color);
  font-size: 22px;
  padding: 10px 0;
}

.card p {
  color: var(--text-color);
  font-size: 15px;
  line-height: 1.8;
  text-align: center;
}

.btn {
  place-items: center;
  display: inline-block;
  background: #211355;
  color: var(--text-color);
  width: 100%;
  font-size: 17px;
  padding: 10px;
  border-radius: 0 0 15px 15px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background: #3a227b;
  color: var(--text-color);
  transform: scale(1.02);
}

.card:last-child {
  grid-column: 2 / span 1;
}

/* -------------------------------------------------Media Queries--------------------------------------- */

@media (max-width: 390px) {
  .container {
    padding: 15px;
  }

  .card-container  {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .card {
    flex: 0 0 auto;
    scroll-snap-align: start;
    max-width: 90%;
    max-height: max-content;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
  }

  .card-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .card {
    flex: 0 0 auto;
    scroll-snap-align: start;
    margin-right: 15px;
    max-width: 90%;
    max-height: max-content;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 20px;
  }

  .card-container {
    display: flex;
     align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .card {
    flex: 0 0 auto;
    scroll-snap-align: start;
    margin-right: 10px;
    max-width: 100%;
    height: max-content;
  }

  .card img {
    height: 150px;
  }

  .card h3 {
    font-size: 18px;
  }

  .card p {
    font-size: 13px;
  }
  .btn {
    font-size: 15px;
    padding: 8px;
  }
  
}