/* Import Google Font */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; 
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}


.main-nav {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 8rem 1fr 0.5fr 8rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
}

.header-up {
  background-color: #3b5998;
  grid-column: 1 / -1;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
  color: white;
}

.contact-info,
.social-media-desktop {
  list-style-type: none;
  display: flex;
}

.contact-info li,
.social-media-desktop li {
  padding: 0.8rem;
  display: flex;
  flex-direction: row;
  font-size: 1.4rem; 
}

.contact-info a,
.social-media-desktop a {
  color: white;
  font-size: 1.6rem;
  display: flex;
  align-items: flex-start;
}

.contact-info {
  display: flex;
  flex-direction: row;
}

.contact-info > div {
  padding: 0.5rem; 
}

.contact-info a {
  color: white;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.logo {
  width: 100%;
  display: grid;
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
}

/* .menu-link {
  grid-column: 3/4;
} */

.menu-link ul {
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.logo-full {
  display: flex;
  flex-direction: column;
}

.logo h2 {
  font-size: 2.2rem; 
  font-weight: 500;
  text-transform: capitalize;
  color: rgba(0, 0, 3, 0.8);
}

.logo-tag {
  font-size: 1.5rem; 
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(0, 0, 3, 0.8);
}

.logo-content {
  display: flex;
  align-items: center;
}

.logo-img {
  /* max-width: 100px; 
  padding: 1rem; */
  width: 100px;
height: 100px;
max-height: 100px;
max-width: 100px;
object-fit: contain;
}

.logo-text {
  display: flex;
  flex-direction: column;
}

.menu-link ul li {
  font-size: 1.8rem; 
}

.menu-link ul li a {
  text-transform: capitalize;
  color: rgba(0, 0, 3, 0.8);
  transition: 0.5s;
}

.menu-link ul li:hover > a {
  transform-origin: left;
  color: rgba(0, 0, 3, 1);
  text-decoration: underline;
  transition: 0.5s;
}

.hamburger-menu {
  display: none;
}

@media (max-width: 930px) {
  .main-nav {
    grid-template-columns: 3rem 1fr 0.09fr 3rem;
  }

  .header-up {
    padding: 0 3%;
  }

  .contact-info li,
  .social-media-desktop li {
    font-size: 1rem;
    padding: 0.4rem;
  }

  .contact-info a,
  .social-media-desktop a {
    font-size: 1rem;
  }

  .logo h2 {
    font-size: 0.8rem;
  }

  .logo-img {
height: 50px;
max-height: 50px;
max-width: 50px;
object-fit: contain;
    padding: 1rem;
  }

  .logo-tag {
    font-size: 0.6rem;
  }

.logo-text{
  font-size: 0.2rem;
}

  .menu-link ul li {
    font-size: 0.5rem;
  }

  .mobile-menu-link ul {
    height: 20rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
  }

  .address-mail{
    display: none;
  }

 
  .hamburger-menu {
    padding:14px;
    display: block;
    
  }

  .ham{
    font-size: 2rem;
  }

  .menu-link {
   display: none;
  }

  .mobile-menu-link{
    position: absolute;
    display: flex;
    justify-content: center;
    opacity: 90%;
    z-index: 1;
    top:90px;
    left:70px;
    width: 90%;
    background-color: white;
    transition: opacity 1s ease, display 0s ease 0.8s;
  }
  .body{
  width:100%;
  overflow-x: hidden;}
}

